<%= form_for(@advertising) do |f| %>
  <% if @advertising.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertising.errors.count, "error") %> prohibited this advertising from being saved:</h2>

      <ul>
      <% @advertising.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    <%= f.label :place_id %><br>
    <%= f.text_field :place_id %>
  </div>
  
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.text_field :company_id %>
  </div>
  
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
