<h1>Listing users</h1>

<%= link_to 'New User', new_user_path %>
<br><br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>username</th>
      <th>firstname</th>
      <th>lastname</th>
      <th>email</th>

      <th>show</th>
      <th>edit</th>
      <th>delete</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      	<td><%= user.id %></td>
      	<td><%= user.username %></td>
      	<td><%= user.firstname %></td>
      	<td><%= user.lastname %></td>
      	<td><%= user.email %></td>

        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>