<p id="notice"><%= notice %></p>

<p>
  <strong>Allow messages:</strong>
  <%= @setting.allow_messages %>
</p>

<p>
  <strong>Send notification for comments:</strong>
  <%= @setting.send_notification_for_comments %>
</p>

<p>
  <strong>Send notification for messages:</strong>
  <%= @setting.send_notification_for_messages %>
</p>

<p>
  <strong>User:</strong>
  <%= @setting.user_id %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
