<h1>Listing media</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>type</th>
      <th>url</th>
      <th>server</th>
      <th>show</th>
      <th>edit</th>
      <th>delete</th>
    </tr>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
      	<td><%= medium.id %></td>
        <td><%= medium.type %></td>
      	<td><%= medium.url %></td>
      	<td><%= medium.server %></td>
        <td><%= link_to 'Show', medium %></td>
        <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
        <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medium', new_medium_path %>
