<h1>Listing report_publications</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Publication</th>
      <th>Reason</th>
      <th>Content</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @report_publications.each do |report_publication| %>
      <tr>
        <td><a href="/publications/<%= report_publication.publication_id %>"><%= report_publication.publication_id %></a></td>
        <td><%= report_publication.reason %></td>
        <td><%= report_publication.content %></td>
        <td><%= report_publication.user_id %></td>
        <td><%= link_to 'Show', report_publication %></td>
        <td><%= link_to 'Edit', edit_report_publication_path(report_publication) %></td>
        <td><%= link_to 'Destroy', report_publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

