
<% content_for :head do -%>
<%= stylesheet_link_tag 	 'bootstrap' %>
<%= stylesheet_link_tag 	 'reset' %>
<%= stylesheet_link_tag 	 'bootstrap.min' %>
<%= stylesheet_link_tag 	 'bootstrap-responsive.min' %>
<%= stylesheet_link_tag 	 'prettyPhoto' %>
<%= stylesheet_link_tag 	 'style' %>
<%= stylesheet_link_tag 	 'style-responsive' %>
<%= stylesheet_link_tag 	 'flexslider' %>
<%= javascript_include_tag 'jquery-1.10.2.min' %>
<%= javascript_include_tag 'dist/js/bootstrap' %>
<% end -%>

<br />
<br />
<h1 style="padding-left:40%;font-size:30px;"><%= @place[:result][:place][:name] %> </h1>
<br />
<br />
<div style="padding-left:100px;padding-right:100px;">
	<h2 style="color: #2FBFAF;"> Commentaires de ce lieu : </h2><br />
	<% @publications.each do |publication| %>
	<div style="padding-left:150px;padding-right:150px;border-top: 1px solid;">
	</div>
		<strong style="font-size:20px;color: #2FBFAF;"><%= user = User.find(publication["user_id"]).username %></strong>
		<strong style="font-size:14px;color: gray; padding-left:82%;">
			<%= publication["created_at"].strftime("%T") %> 
			<%= publication["created_at"].strftime("%B %d, %Y") %>
		</strong>
		

		<br /><br />
		<div style="font-size:16px;padding-left:20px;">
			<% if publication["type"] == "text" %>
			<%= publication["content"] %> 
			<% elsif publication["type"] == "image" %>
			<%= publication["content"] %> <br />
			<img src=<%= publication["url"] %> height="200" width="100">
			<% end %>
		</div> 
		<br />
		<br />
		<br />
	<% end %>


	<h2 style="color: #2FBFAF;"> Poster un commentaire : </h2>
	<div class="form" style="padding-left:20px">
	<%= form_for @new_publication, :html => {:multipart => true} do |f| %>
	<% if @new_publication.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@new_publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

		<ul>
			<% @new_publication.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field" style="padding-left:20px">
		<%= f.text_area :content %>
	</div>

	<div class="field">
		<%= f.file_field :file %>
	</div>
	<%= f.hidden_field :user_id, :value => session[:user_id] %>
	<%= f.hidden_field :place_id, :value => @place[:result][:place][:id] %>
	<%= f.hidden_field :longitude, :value => @place[:result][:place][:longitude] %>
	<%= f.hidden_field :latitude, :value => @place[:result][:place][:latitude] %>
	<div class="actions">
		<%= f.submit %>
	</div>

	<% end %>
	</div>
</div>