<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Neerbyy</title>
	<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/carousel.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/bootstrap-responsive.min.css"> 
	<link rel="stylesheet" href="assets/style.css"> 
	<link rel="stylesheet" href="assets/style-responsive.css"> 
	<script src="/assets/jquery-1.10.2.min.js"></script>
	<script src="/assets/dist/js/bootstrap.js"></script>
	<%= yield :head %>

	<style>
	.field {
		color: #2FBFAF;
		padding: 5px;
	}
	.colorgraph {
		height: 5px;
		border-top: 0;
		background: #c4e17f;
		border-radius: 5px;
		background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
		background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
		background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
		background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	}
	</style>

	<script>
	$(function(){
		$('.button-checkbox').each(function(){
			var $widget = $(this),
			$button = $widget.find('button'),
			$checkbox = $widget.find('input:checkbox'),
			color = $button.data('color'),
			settings = {
				on: {
					icon: 'glyphicon glyphicon-check'
				},
				off: {
					icon: 'glyphicon glyphicon-unchecked'
				}
			};

			$button.on('click', function () {
				$checkbox.prop('checked', !$checkbox.is(':checked'));
				$checkbox.triggerHandler('change');
				updateDisplay();
			});

			$checkbox.on('change', function () {
				updateDisplay();
			});

			function updateDisplay() {
				var isChecked = $checkbox.is(':checked');
			// Set the button's state
			$button.data('state', (isChecked) ? "on" : "off");

			// Set the button's icon
			$button.find('.state-icon')
			.removeClass()
			.addClass('state-icon ' + settings[$button.data('state')].icon);

			// Update the button's color
			if (isChecked) {
				$button
				.removeClass('btn-default')
				.addClass('btn-' + color + ' active');
			}
			else
			{
				$button
				.removeClass('btn-' + color + ' active')
				.addClass('btn-default');
			}
		}
		function init() {
			updateDisplay();
			// Inject the icon if applicable
			if ($button.find('.state-icon').length == 0) {
				$button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
			}
		}
		init();
	});
});
</script>

</head>
<body style="">

	<nav id="navbar-example" class="navbar navbar-default navbar-static" role="navigation">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-js-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a href="/"><img src="/assets/logo-neerbyy-white.png" alt="" style="height: 45px;padding-top: 4px;padding-left: 130px;"></a>
		</div>
		<div class="collapse navbar-collapse bs-js-navbar-collapse">

			<% if signed_in? %>

			<ul class="nav navbar-nav navbar-right">
				<li id="fat-menu" class="dropdown">

					<a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
						<li><%= link_to "Settings", settings_path %></li>
						<li><%= link_to "Sign out", log_out_path, method: "delete" %></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" style="margin-left: 100px;width: 300px;">
				</div>

			</form>
			<% elsif flash[:page] == "login" || flash[:page] == "register" %>

			<% else %>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Join Today", sign_up_path %></li>
				<li><%= link_to "Sign In", log_in_path %></li>
			</ul>
			<% end %>
		</div><!-- /.nav-collapse -->
	</nav>

	

	

	<%= yield %>
	<%= yield :scripts %>


</body>
</html>